.current-folder {
  margin: 20px;
  font-weight: 700;
  font-size: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    margin-top: 30px;
    &-title {
      font-size: 18px;
    }
    &-list {
      display: flex;
    }
  }
  &__file {
    max-width: 200px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    img {
      width: 150px;
      object-fit: cover;
    }

  }

  &__file-name{
    font-size: 15px;
  }
}